@import '../app.global.scss';

.comments {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0 1rem;
  background-color: $black;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.errorState {
  @extend .loader;

  color: $white;
}
