@import '../app.global.scss';

.ratingBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
  padding: 0 1rem;
}

.statistics {
  margin: 0;
  color: $white;

  @include font-size(16);

  span {
    color: $gray;
  }
}

.rating {
  height: 21px;

  > label {
    display: inline-block;
    height: 100%;

    input {
      display: none;
    }
  }

  label:first-child {
    margin-right: 1rem;
  }
}

.active {
  height: 100%;
  fill: $white;
}

.inactive {
  height: 100%;
  fill: $gray;
}
