@import '../app.global.scss';

.rightColumn {
  position: relative;
  width: 50%;
  height: 100vh;
  background-color: $dark-black;
}

.iconChannels {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
}

.screen {
  fill: none;
}

.frame {
  fill: $red;
}
