@import '../app.global.scss';

.searchBar {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
  background-color: $black;
}

.iconSearch {
  height: 24px;
  fill: $gray;
}

.searchInput {
  display: flex;
  flex-grow: 1;
  line-height: 24px;
  padding: 0 0.5rem;
  border: none;
  color: $white;
  background-color: transparent;

  &:focus {
    outline: 0;
  }
}

.resetBtn {
  display: flex;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: default;

  &:focus {
    outline: 0;
  }
}

.iconCancel {
  width: 14px;
  fill: $gray;
}
