@import '../app.global.scss';

.title {
  width: 100%;
  margin: 0;
  padding: 0 11px;
  color: $white;
  font-weight: 400;
  line-height: 60px;
  background-color: $dark-black;

  @include font-size(16);
}

.css-truncate-target {
  max-width: 100% !important;
}
