@import '../app.global.scss';

.videoList {
  height: 100%;
  padding-top: 60px;
}

.videos {
  margin: 0;
  padding: 0;
  list-style: none;
}

.loader,
.blankState,
.errorState,
.notification {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.notification {
  flex-direction: column;
}

.message {
  margin: 0;
  font-weight: 100;
  line-height: 3rem;
  text-align: center;

  @include font-size(36);

  span {
    display: block;
    margin: 0.5rem 0 1rem;
    color: $gray;
    line-height: 1.5rem;

    @include font-size(14);
  }
}

.select {
  padding: 0.25rem 1rem;
  border: 1px solid $gray;
  border-radius: 3px;
  font-weight: 700;
  background-color: $white;
  cursor: default;

  @include font-size(12);

  &:focus {
    outline: 0;
  }

  &:active {
    color: $white;
    background-color: $gray;
  }
}
