@import '../../app.global.scss';

.blankState {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 1rem;

	&.white {
		.iconInfo {
			fill: $white;
		}

		.message {
			color: $white;
		}
	}

	&.black {
		.iconInfo {
			fill: $black;
		}
	}
}

.iconInfo {
	width: 21px;
	height: 21px;
}

.message {
	margin: 0 0 0 0.5rem;
}
