@import '../../app.global.scss';

.comment {
	display: flex;
  align-items: center;
  padding: 0.8rem 0;
}

.avatar {
	align-self: flex-start;
	width: 28px;
	min-width: 28px;
	height: 28px;
  margin-right: 0.8rem;
	border-radius: 50%;
}

.author {
	margin-right: 0.8rem;
	color: $gray;
	font-weight: 700;
	line-height: 2rem;
}

.date {
	color: $gray;
}

.description {
	margin: 0;
	color: $white;
}
