@import '../../app.global.scss';

.comment {
	display: flex;
  padding: 0.75rem 1rem;
}

.avatar {
  align-self: flex-start;
  width: 100%;
  max-width: 28px;
  height: 28px;
  margin-right: 0.75rem;
	border-radius: 50%;
}

.author {
	margin-right: 1rem;
	color: $gray;
	font-weight: 700;
	line-height: 2rem;
}

.date {
	color: $gray;
}

.description {
	margin: 0;
	color: $white;
}
