@import '../../app.global.scss';

.errorState {
  position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 1rem;

	&.white {
		.iconError {
			fill: $white;
		}

		.message {
			color: $white;
		}
	}

	&.black {
		.iconError {
			fill: $black;
		}
	}
}

.iconError {
	width: 21px;
	height: 21px;
}

.message {
	margin: 0 0 0 0.5rem;
}

.retry {
  color: $gray;
  font-weight: 500;
}
